third_party/flows.json
[
    {
        "id": "0eb0151d845fe749",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d101cb2b146a9e9",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "temp_sensor_0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":7.5}",
        "payloadType": "json",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "d949a254be4947fb"
            ]
        ]
    },
    {
        "id": "d949a254be4947fb",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine0/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "8a8dd1cc74a2bf92",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "temp_sensor_1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":83.7}",
        "payloadType": "json",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "4668f32c27b5e8b2"
            ]
        ]
    },
    {
        "id": "4668f32c27b5e8b2",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine1/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "1cfbc977e10f02c8",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine2/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1600,
        "y": 320,
        "wires": []
    },
    {
        "id": "f952a60632ea454b",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "temp_sensor_2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":30.3}",
        "payloadType": "json",
        "x": 1390,
        "y": 320,
        "wires": [
            [
                "1cfbc977e10f02c8"
            ]
        ]
    },
    {
        "id": "88ae4b1ca959eab8",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "vib_sensor_0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"vibration\":3.8}",
        "payloadType": "json",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "427fcb07971eaf52"
            ]
        ]
    },
    {
        "id": "427fcb07971eaf52",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine0/vibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "bd9405b0ba9d9c56",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "vib_sensor_1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"vibration\":10.5}",
        "payloadType": "json",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "c596c34fc0e7f850"
            ]
        ]
    },
    {
        "id": "c596c34fc0e7f850",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine1/vibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "8d75c9806a75bf9a",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "vib_sensor_2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"vibration\":1.2}",
        "payloadType": "json",
        "x": 1380,
        "y": 380,
        "wires": [
            [
                "c74abd2208575395"
            ]
        ]
    },
    {
        "id": "c74abd2208575395",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine2/vibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1610,
        "y": 380,
        "wires": []
    },
    {
        "id": "688d8c5527e05da0",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_start_sensor_0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"start\"}",
        "payloadType": "json",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "2cd367be0e540093"
            ]
        ]
    },
    {
        "id": "2cd367be0e540093",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine0/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "1313b5c15b9021ec",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_start_sensor_1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\": \"start\"}",
        "payloadType": "json",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "f435884496704ccb"
            ]
        ]
    },
    {
        "id": "f435884496704ccb",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine1/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "4dc73100fbcfb1b2",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine2/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1620,
        "y": 260,
        "wires": []
    },
    {
        "id": "91341d71d2b938fa",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_start_sensor_2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\": \"start\"}",
        "payloadType": "json",
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "4dc73100fbcfb1b2"
            ]
        ]
    },
    {
        "id": "69820d55806f6bb1",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_stop_sensor_0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"stop\"}",
        "payloadType": "json",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "26452eaf4a7197db"
            ]
        ]
    },
    {
        "id": "26452eaf4a7197db",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine0/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "1b82c1df74a8bd1b",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_stop_sensor_1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"stop\"}",
        "payloadType": "json",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "46eb1277c04339bd"
            ]
        ]
    },
    {
        "id": "46eb1277c04339bd",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine1/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "e993df91db75ebb5",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "state_stop_sensor_2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"stop\"}",
        "payloadType": "json",
        "x": 1400,
        "y": 220,
        "wires": [
            [
                "cbb7b47c7262ef32"
            ]
        ]
    },
    {
        "id": "cbb7b47c7262ef32",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine2/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1620,
        "y": 220,
        "wires": []
    },
    {
        "id": "832cabbb34e5ee1d",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "prod_sensor_0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "864044996a994c61"
            ]
        ]
    },
    {
        "id": "864044996a994c61",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine0/produced",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2e17b4a88f2f734",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "prod_sensor_1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "df01d94f2e4a7335"
            ]
        ]
    },
    {
        "id": "df01d94f2e4a7335",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine1/produced",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "330975c72c076657",
        "type": "inject",
        "z": "0eb0151d845fe749",
        "name": "prod_sensor_2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 1380,
        "y": 420,
        "wires": [
            [
                "58cc7ddd5eb7caed"
            ]
        ]
    },
    {
        "id": "58cc7ddd5eb7caed",
        "type": "mqtt out",
        "z": "0eb0151d845fe749",
        "name": "",
        "topic": "factory/machine2/produced",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f0283bc4f9050cc",
        "x": 1620,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f0283bc4f9050cc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]